@{
    ViewData["Title"] = "Olvidé mi Contraseña";
}

<h1>Olvidé mi contraseña</h1>

@if (ViewBag.EmailEnviado == true)
{
    <p>Si el correo pertenece a un usuario del sistema, te enviamos un mail con instrucciones para restablecer tu contraseña.</p>
}
else
{
    <form asp-action="ForgotPassword" method="post" onsubmit="mostrarLoading()" >
        <input type="email" name="email" placeholder="correo@ejemplo.com" required />
        <button type="submit" class="btn btn-primary" id="btnEnviar">Enviar correo de recuperación</button>
        <p id="loading" style="display:none">Enviando...</p>
    </form>
}

<script>
    function mostrarLoading() {
        document.getElementById("btnEnviar").disabled = true;
        document.getElementById("loading").style.display = "block";
    }
</script>

