
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div>
        <input name="usuario" placeholder="Usuario"/>
    </div>
    
    <div>
        <input name="password" type="password" placeholder="Contraseña"/>
    </div>
       
    <button type="submit">Ingresar</button>

</form>

@if (ViewBag.Message != null)
{
    <div style="color:@(ViewBag.IsError ? "red" : "green")">
        @ViewBag.Message
    </div>
}

