@model TPI_GESTION_HOGAR.Models.Turno

<h2>Editar Turno</h2>

<form asp-action="Edit" method="POST">

	<input type="hidden" asp-for="ID" />

	<div class="mb-3">
		<label>Fecha</label>
		<input asp-for="Fecha" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" required>
	</div>

	<div class="mb-3">
		<label>Horario</label>
		<select asp-for="TipoTurnoId" class="form-control" asp-items="@ViewBag.TipoTurnos" Required>
			<option value="">Seleccione el Horario</option>
		</select>
	</div>

	<div class="mb-3">
		<label>Personal</label>
		<select asp-for="PersonalId" class="form-control" asp-items="@ViewBag.Personal" Required>
			<option value="">Seleccione al Personal</option>
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Guardar cambios</button>
	<a class="btn btn-secondary" href="/Turnos/Index">Volver</a>

</form>